
<div class="home-banner">
  <h1 class="font-weight-bold text-white title">Simpson character cocktail</h1>
</div>

<div class="container col-lg-10 pt-3">
  <%= link_to 'Create your custom cocktail', new_cocktail_path(@cocktail), class: "btn btn-primary" %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 p-3 d-flex justify-content-center">
        <% @cocktails.each do |cocktail|  %>
          <div class="card m-4 justify-content-center" style="width: 18rem;">
            <% if  cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
            <% else %>
              <%= image_tag "guigui.jpg", class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <p class="card-text"> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
