<h1><%= @cocktail.name %></h1>
<%= link_to 'All Cocktail', cocktails_path(@cocktails) %>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> of <%= dose.ingredient.name %></li>
<% end %>
