<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://image.freepik.com/vecteurs-libre/bar-cocktails-neon-texte-boire-paille-cerises_1262-19509.jpg", height: 70, class: "rounded-circle" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="https://www.youtube.com/watch?v=-keUgSnQM3c" target="_blank" class="btn btn-danger">Mettez du son<br>avant de cliquer!</a>
      </li>
    </ul>
  </div>
</div>
