.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.nav-link{
  color: #171C4D;
  text-decoration: none;
}
